<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secret Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (!currentUser) {%>
    <h1>How did you get here?</h1>
    <% } else { %>
    <div class="nav">
      <h1>
        WELCOME BACK,<br />
        <%= currentUser.first_name %>
      </h1>
      <a class="sign-out button" href="/sign-out">SIGN OUT</a>
    </div>
    <div class="message-board-container">
      <div class="top-row">
        <a class="to-message-form button" href="/message-form"
          >Create a message</a
        >
      </div>
      <% message_list.forEach(function(message) { %>
      <div class="message-container">
        <div class="title"><%= message.title %></div>
        <div class="message-message"><%= message.message %></div>
        <div class="time-stamp">
          <%= message.timeStamp.toLocaleTimeString('en-US', options) %>
        </div>
        <% if (currentUser.is_admin) {%>
        <div class="delete-button">
          <form action="/message_delete" method="POST">
            <input
              type="hidden"
              name="messageid"
              required="true"
              value="<%=
            message._id %>"
            />
            <button title="Delete message">X</button>
          </form>
        </div>
        <% } %>
      </div>
      <% }); %>
    </div>
    <%}%>
  </body>
</html>
